.Game{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: cyan;
        height:85vh;
        width: 37vw;
        border-radius: 5px;
        font-size: .7rem;
        font-family: cursive;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        
      }
      input[type="number"] {
        /* Remove the default increment/decrement buttons */
        -webkit-appearance: none;
        appearance: none;
        
        /* Add your custom styles for the input field */
       
        /* Add other styles as needed */
    }

      body{
        background-color:black;
          }
          .New{
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            background-color: rgb(180, 25, 232);
        border-radius: 15px;
        margin-bottom: 10px;
        margin: 200px;
        text-decoration: none; 
        border-bottom:  3.5px solid black;
        border-top: 3.5px solid black;
        height: 60px;
        width: 210px;
        cursor: pointer;
        font-size: 1.4rem;
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
            transition: transform 0.2s ease;
         
            font-family: cursive;
           color: black;
          }
          .New:hover{
            box-shadow: 10px 10px 10px  white;  
            border-color: black;
            transform: scale(1.24);
         
            
          }

          .Guess{
            font-size: 1.5rem;
            font-size: bold;
            margin-top: 100px;
          }

          input {
            width: 250px; /* Set the width of the input */
            height: 25px; /* Set the height of the input */
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 12px;
            text-align: center;
            font-family: cursive;
            font-weight: bold;
            font-size: 1.5rem;
        ;
        }
        ::placeholder {
            text-align: center;
            font-size: 1.2rem; /* Center-align the placeholder text */
        }

        .State{
            font-family: cursive;
            font-weight: bold;
            font-size: 1.5rem;
            height: 350px;
color:black;
margin-top: 10px;

        }
        .info{
padding-bottom: 70px;
padding-top: 2px; 

             
              }
              .Attempt{
                color:crimson;
                margin-top: 0px;
                font-size: 1.7rem;
                font-weight: bold;
              }
              .Guesses{
                color:crimson;
                font-size: 1.7rem;
                font-weight: bold;

              }

       